<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="sample_id">
    <environment id="sample_id">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/salesdb"/>
        <property name="username" value="kasai"/>
        <property name="password" value="9001184"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
  	<package name="com.mksai.springboot"/>
  </mappers>
</configuration>