<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mksai.springboot.CustomerMapper">

	<select id="countCustomer" resultType="long">
		select count(*) from customer
		<include refid="customerWhere"></include>
	</select>
	
	<select id="selectCustomer" resultType="com.mksai.springboot.Customer">
		select
			cust_id
			,cust_name
			,address
			,tel
			,fax
		from customer
		<include refid="customerWhere"></include>
	</select>
	
	<sql id="customerWhere">
		<where>
			<if test="criteria.cust_id != null">
				cust_id = #{criteria.cust_id}
			</if>
		</where>
	</sql>
	
</mapper>